*{
  
  margin:0;
  font-family: 'Inter', sans-serif;  
}

html{
 height:100%;
}

/* header css */

.header{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid black;
}

.head-nav-bar{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 500px;
}

.search-icon {
  position: absolute;
  top: 38%;
  left: 63%;
  scale: 2;
  transform: translateY(-50%);
  pointer-events: none; 
}

.basket-button{
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color:#f8b90dde;
  border: 1px solid #f8b90dde;
  font: inherit;
	cursor: pointer;
}

.basket-button:hover{
  background-color:  #f7c438de;
}

.jumbo-button{
  width:150px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 32px;
  background: none;
	color: black;
  border-style: solid;
  border: 1px solid black;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.jumbo-button:hover{
  border: 1px solid  #ccc;
  }


.page-nav{
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
}

.page-nav{
  padding: 10px;
  font-size: larger;
  font-style: normal;
  font-weight: 900;
  color: black;
  text-decoration: none;
  margin:0;
  
}
.page-nav p:hover{
   border-bottom:2px solid #f8b90dde; ;
   text-decoration: none;
}

.page-nav-products{
  padding: 10px;
  font-size: larger;
  font-style: normal;
  font-weight: 900;
  color: black;
  text-decoration: none;
  margin-left:125px;
  
}
.page-nav-products:hover{
   border-bottom:2px solid #f8b90dde; ;
   text-decoration: none;
}

/* dropp down icon */

.dropdown-content-products {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-products a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content-products {
  display: block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content > p {
  border-bottom:2px solid #f8b90dde; ;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* main css */

.lastest-deal {
  object-fit: contain;
  
}

.main-deal-section{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.card-container{
  display: flex;
  justify-content:center;
  gap:150px;
  position: absolute; 
  top: 60%; 
  left:15%; 
  transform: translateZ(50px);
}

.cards{
  height:150px;
  width:340px;
  border-style: solid;
  background-color: black;
  border-color: black;
  opacity: 50%;
  position: relative;
  z-index: 1;
}

.brand-page-link{
  padding-top: 100px;
  padding-left: 100px;
}

.brand-page-link-grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20%;
  height: 150vh;
  width: 175vh;
  padding-top: 10px;
}

.brand-cards > p{
  padding:0;
}

.brand-cards{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

/* products page grid  */

.products-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding-bottom: 100px;
}

.grid-container{
  flex: 1;
  padding-left: 10px;
  padding-right: 20px;
}

.grid-element > li {
 list-style: none;
padding: 5px;
  
}
.products-grid > ul {
  text-align: center;
  flex: 1;
  padding-left: 0;
  border: 1px solid lightgray;
  border-radius: 5%;
  
}
.product-description{
  font-size: 12px;
  
}
.grid-element img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

.pages-container{
  padding-top: 25px;
  padding-bottom: 25px;
  
}

.page-container > h1{
  padding-bottom: 10px;

}

/* products */
.product-description{

}
.product-name{
  padding-right: 15px;
}
.product-buttons{
  position: relative;
  

}
.product-buttons > button{
display: flex;
height: 35px;
width: 35px;
border-radius: 50%;
cursor: pointer;
position: absolute;
bottom: 1;
right: 1;
margin: 15px;
border: 1px solid rgb(66, 156, 43);
background-color: rgb(66, 156, 43);
}



/* basket  */

.basket-price{
 padding-right: 5px;  
 padding-top: 10px;

}

.basket-name {
  padding-right: 5px;  
  padding-top: 10px;
}
 

.basket-item {
  display: flex;
  margin-bottom: 10px;
}

.basket-image {
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  margin-right: 10px;
}

.basket-details {
  flex-grow: 1;
  margin-right: 10px;
}

.my-sliding-pane{
  padding-top: 100px;
  
}
.product-list > ul > li{
  list-style: none;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  

}

/* sidebar css */

.side-pannel{
  border: 1px solid lightgray;
  border-top: 0px;
  width: 20%;
  height: 800px
}

.products-container{
  display: flex;
}


/* icons */

.add-icon{
  color: transparent;
}

/* single product page */

.single_product_contianer{
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  border-bottom: 5px solid #f8b90dde;
  margin: 100px;
  margin-right: 20px;
  width: 90%;
  height:80%;
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 250px;

}
.single_product_contianer > img{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;

}

.single_product_info_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.single_product_info > h1, p{
  padding: 5px;
  
}
.single_product_info > p{
  font-size: larger;
}

.single_product_button > button{
height: 35px;
width: 250px;
border-radius: 20px;
cursor: pointer;
position: absolute;
display: flex;
margin-top: 10px;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
border: 1px solid rgb(66, 156, 43);
background-color: rgb(66, 156, 43);
}

.single_product_button > button p {
  margin: 0;
  color: white;
}

.single_product_button > button svg {
  order: 1; 
}